body {
    color: black;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin: 0px auto 0px auto;
    width: 500px;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
    font-weight: normal;
}

h2 {
    font-size: 20px;
    font-weight: normal;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

span.quiet {
    color: #828282;
    font-style: italic;
}

a {
    color: black;
}

ul {
    margin-left: 0px;
    padding-left: 0px;
    list-style-type: none;
}